@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Put information here to display information once someone has registered for the first time! (include the technology used to create blog)</h1>
</div>